* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

a {
  color: #000;
  text-decoration: none;
}

.flex-item-container {
  width: 80%;
}

.nav {
  background-color: #058804;
  padding: 2em 0;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.nav__left {
  width: 10%;
}
.nav__left ul li {
  list-style-type: none;
  color: black;
}
.nav__right {
  width: 90%;
}
.nav__right ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.nav__right ul li {
  list-style-type: none;
  cursor: pointer;
}
.nav__right ul li:hover {
  background-color: #eea539;
  color: #fff;
}

.hero {
  background-image: url("../../images/jace.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
}

.contact {
  background-color: lightgrey;
  width: 100%;
}
.contact__heading {
  text-align: center;
}
.contact__heading h2 {
  font-size: 3.5rem;
  color: #058804;
}
.contact__heading p {
  font-size: 1.5rem;
}
.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.contact__container__left {
  margin-top: 4em;
}
.contact__container__left img {
  margin-left: 8em;
}
.contact__container__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  box-shadow: 5px 5px 6px 8px #058804;
  padding: 4.5em 4em;
  gap: 2em;
  margin-top: 1em;
}
.contact__container__right__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact__container__right-email input {
  width: 100%;
}
.contact__container__right-textarea {
  width: 100%;
}
.contact__container__right button {
  padding: 0.9em 2em;
  width: 40%;
  margin: 0 auto;
  border: none;
  background-color: #058804;
  color: #fff;
}
.contact__container input {
  padding: 1.5em 3em;
}

.media-platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.media-platforms p {
  font-size: 30px;
}
.media-platforms__icons {
  margin: 0 2em;
}
.media-platforms img {
  background-color: #058804;
  border-radius: 2em;
}