@mixin flex($justify,$align,$direction:row){
    display:flex;
    justify-content:$justify;
    align-items:$align;
    flex-direction:$direction;
}

// @mixin flex-col($justify,$align,$direction:column){
@mixin flex-col($direction:column){

    display:flex;
    flex-direction:$direction;
}

