@use "../utilities/variables" as *;
@use"../utilities/mixins" as *;
.hero{
     $blue:#1d267d;
    text-align: center;
        gap: 1em;
        gap: 1em;
        gap: 1em;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,.3)),url("../../images/jace.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    width:100vw;
    @include flex(center,center, column);
    
    &__content{
        &__button{
                &--blue{
                    @include button($white,$blue)  

                    
                    
                }
                &--red{
                    @include button($white,$grey);
                    margin:0 2em;
                }
            }
        }
        div{
            width: 100%;
            font-family: $font;
            h1{
                color: $blue;
                font-size: 5rem;
            }
        p{
            color:$pink;
        }
        }
        h2{
            color:$white;
            margin: 2em;
        }
        button{
            gap: 2em;
        }
    p{
        color:$black;
    }
    h3{
        color: #1d267d;
    }
    h4{
        color: $light-green;
    }
    }
    
    
    

