@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.login{
    h1{
        font-size: 4rem;
        color: $white;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        color: $white;
        text-align: center;
    }
    background-image: url("../../images/nadine-marfurt-DMvLtqwQ46Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;width: 100vw;
    height: 80vh;
   ;

    &__container{
        @include flex(space-around, center,column);
        gap: 3em;
        input{
            padding: 1em 3em;
            margin: 1em 0;
        }
        .btn{
            text-align: center;
            border-radius: 2rem;
        }
        button{
            border-radius: 2rem;
            padding: 0.8em 1em;
            text-align: center;
        }
    }
}