@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.signup-section{
    background-image: url(../../images/mansi-gujarathi-bYoAsSLDM7s-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;width: 100vw;
    height: 80vh;
}